<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3">
            <h4>New Job</h4>
            <a class="btn btn-light" href="/exhibitor/newjob">Post New Job</a>
        </div>
        <div class="col-md-6 mb-3">
            <h4>Existing Jobs</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!--<th scope="col"></th>-->
                        <th scope="col">Show Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Progress</th>
                    </tr>
                </thead>
                <tbody class="table table-hover table-borderless">
                    {{#each data}}
                    <tr>
                        <!--<td><img src="/public/image/vendor/{{Avatar}}" style="height: 30px; width: 30px;"></td>-->
                        <td scope="row" id={{_id}}><a href="/exhibitor/?id={{_id}}">{{tabName}}</a></td>
                        <td>{{songName}}</td>
                        <td>{{artistName}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>