<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3">
            <h4>New Job</h4>
            <p>Post your requirements and make your exhibition perfect!</p>
            <a class="btn btn-light" href="/exhibitor/newjob">Post New Job</a>
        </div>
        <div class="col-md-6 mb-3">
            <h4>Existing Jobs</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!--<th scope="col"></th>-->
                        <th scope="col">Show Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Progress</th>
                    </tr>
                </thead>
                <tbody class="table table-hover table-borderless">
                    {{#each data}}
                    <tr>
                        <!--<td><img src="/public/image/vendor/{{Avatar}}" style="height: 30px; width: 30px;"></td>-->
                        <td scope="row"><a href="/exhibitor/show?id={{boothNum}}">{{showName}}</a></td>
                        <td>{{date.start}}</td>
                        <td>{{date.end}}</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" data-name="{{progress}}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $(".progress-bar").each(function() {
            if($(this).attr("data-name") == "waitContract") {
                $(this).attr("style", "width: 20%");
                $(this).attr("aria-valuenow", "20");
            }
            else 
            if($(this).attr("data-name") == "waitOppoContract") {
                $(this).attr("style", "width: 40%");
                $(this).attr("aria-valuenow", "40");
            }
            else 
            if($(this).attr("data-name") == "waitPayment") {
                $(this).attr("style", "width: 60%");
                $(this).attr("aria-valuenow", "60");
            }
            else 
            if($(this).attr("data-name") == "paid") {
                $(this).attr("style", "width: 80%");
                $(this).attr("aria-valuenow", "80");
            }
            else 
            if($(this).attr("data-name") == "done") {
                $(this).attr("style", "width: 100%");
                $(this).attr("aria-valuenow", "100");
            }
            else {
                $(this).attr("style", "width: 0%");
                $(this).attr("aria-valuenow", "0");
            }
        });
    });
</script>