<div id="TabModify" class="container">
    <h4></h4>
    <form id="newTabs">
        <div class="card border-light mb-3">
            <div class="card-header">
                <h4>Show Info</h4>
            </div>
            <div class="card-body">
                <div class="container" id="author" data-name={{author}}></div>
                <div class="form-row">
                    <div class="col-md-6 mb-2">
                        <label for="boothId">Booth Number:</label>
                        <input id="boothId" type="text" class="form-control" name="boothId" value="{{boothId}}"></input>
                    </div>
                    <div class="col-md-6 mb-2">
                        <label for="showName">Show Name:</label>
                        <input id="showName" type="text" class="form-control" name="showName" value="{{showName}}"></input>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-2">
                        <label for="startDate">Start Date:</label>
                        <input id="startDate" type="date" class="form-control" name="startDate" value="{{date}}"></input>
                    </div>
                    <div class="col-md-6 mb-2">
                        <label for="endDate">End Date:</label>
                        <input id="endDate" type="date" class="form-control" name="endDate" value="{{date}}"></input>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-light mb-3">
            <div class="card-header">
                <h4>Booth Info</h4>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-4 mb-2">
                        <label for="size">Booth Size:</label>
                        <div class="form-inline">
                        <label for="size1" class="sr-only">Booth Size left:</label>
                        <input id="size1" type="text" class="form-control col-md-5" name="size1" placeholder="length"></input>
                        <span>&nbsp;&nbsp;✕&nbsp;&nbsp;</span>
                        <label for="size2" class="sr-only">Booth Size right:</label>
                        <input id="size2" type="text" class="form-control col-md-5" name="size2" placeholder="width"></input>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="card" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Categories</h5>
                            <div class="row">
                                <div class="form-check form-check-inline col-md-6">
                                    <label id="furBtn" class="btn btn-light" for="Furniture">
                                        <input type="checkbox" id="Furniture" value="furniture">
                                        Furniture
                                    </label>
                                    <div id="furNumDiv" class="input-group input-group-sm">
                                        <span class="input-group-prepend">&nbsp;&nbsp;✕&nbsp;&nbsp;</span>
                                        <label for="furNum" class="sr-only">Number:</label>
                                        <input class="form-control col-md-2" type="text" id="furNum" onkeyup="this.value=this.value.replace(/\D|^0/g,'')" onafterpaste="this.value=this.value.replace(/\D|^0/g,'')"></input>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline col-md-6">
                                    <label id="graBtn" class="btn btn-light" for="Graphic">
                                        <input type="checkbox" id="Graphic" value="graphic">
                                        Graphic
                                    </label>
                                    <div id="graNumDiv" class="input-group input-group-sm">
                                        <span class="input-group-prepend">&nbsp;&nbsp;✕&nbsp;&nbsp;</span>
                                        <label for="graNum" class="sr-only">Number:</label>
                                        <input class="form-control col-md-2" type="text" id="graNum" onkeyup="this.value=this.value.replace(/\D|^0/g,'')" onafterpaste="this.value=this.value.replace(/\D|^0/g,'')"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-check form-check-inline col-md-6">
                                    <label id="carBtn" class="btn btn-light" for="Carpet">
                                        <input type="checkbox" id="Carpet" value="carpet">
                                        Carpet
                                    </label>
                                    <div id="carNumDiv" class="input-group input-group-sm">
                                        <span class="input-group-prepend">&nbsp;&nbsp;✕&nbsp;&nbsp;</span>
                                        <label for="carNum" class="sr-only">Number:</label>
                                        <input class="form-control col-md-2" type="text" id="carNum" onkeyup="this.value=this.value.replace(/\D|^0/g,'')" onafterpaste="this.value=this.value.replace(/\D|^0/g,'')"></input>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline col-md-6">
                                    <label id="hanBtn" class="btn btn-light" for="HangingSign">
                                        <input type="checkbox" id="HangingSign" value="hangingSign">
                                        Hanging Sign
                                    </label>
                                    <div id="hanNumDiv" class="input-group input-group-sm">
                                    <span class="input-group-prepend">&nbsp;&nbsp;✕&nbsp;&nbsp;</span>
                                    <label for="hanNum" class="sr-only">Number:</label>
                                    <input class="form-control col-md-2" type="text" id="hanNum" onkeyup="this.value=this.value.replace(/\D|^0/g,'')" onafterpaste="this.value=this.value.replace(/\D|^0/g,'')"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-check form-check-inline col-md-6">
                                    <label id="ligBtn" class="btn btn-light" for="Lighting">
                                        <input type="checkbox" id="Lighting" value="lighting">
                                        Lighting
                                    </label>
                                    <div id="ligNumDiv" class="input-group input-group-sm">
                                    <span class="input-group-prepend">&nbsp;&nbsp;✕&nbsp;&nbsp;</span>
                                    <label for="ligNum" class="sr-only">Number:</label>
                                    <input class="form-control col-md-2" type="text" id="ligNum" onkeyup="this.value=this.value.replace(/\D|^0/g,'')" onafterpaste="this.value=this.value.replace(/\D|^0/g,'')"></input>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline col-md-6">
                                    <label id="avBtn" class="btn btn-light" for="AV">
                                        <input type="checkbox" id="AV" value="av">
                                        AV
                                    </label>
                                    <div id="avNumDiv" class="input-group input-group-sm">
                                    <span class="input-group-prepend">&nbsp;&nbsp;✕&nbsp;&nbsp;</span>
                                    <label for="avNum" class="sr-only">Number:</label>
                                    <input class="form-control col-md-2" type="text" id="avNum" onkeyup="this.value=this.value.replace(/\D|^0/g,'')" onafterpaste="this.value=this.value.replace(/\D|^0/g,'')"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-check form-check-inline col-md-6">
                                    <label id="eleBtn" class="btn btn-light" for="Electric">
                                        <input class="form-check-input" type="checkbox" id="Electric" value="electric">
                                        Electric
                                    </label>
                                    <div id="eleNumDiv" class="input-group input-group-sm">
                                    <span class="input-group-prepend">&nbsp;&nbsp;✕&nbsp;&nbsp;</span>
                                    <label for="eleNum" class="sr-only">Number:</label>
                                    <input class="form-control col-md-2" type="text" id="eleNum" onkeyup="this.value=this.value.replace(/\D|^0/g,'')" onafterpaste="this.value=this.value.replace(/\D|^0/g,'')"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-light mb-3">
            <div class="card-header">
                <h4>Details</h4>
            </div>
            <div class="card-body">
            <div class="form-row">
            <div class="col-md-12 mb-2">
            <label for="details">Details: </label>
            <div class="btn-toolbar mb-2" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="Bold and Italic">
                    <button id="boldText" type="button" class="btn btn-light"><span style="font-weight: bold;">B</span></button>
                    <button id="italicText" type="button" class="btn btn-light"><span style="font-style:italic;">I</span></button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <div class="btn-group" role="group">
                        <button id="colorsGroup" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Black
                        </button>
                        <div class="dropdown-menu" aria-labelledby="colorsGroup">
                            <a id="colorBlack" class="dropdown-item" href="javascript:void(0);">Black</a>
                            <a id="colorRed" class="dropdown-item" href="javascript:void(0);" style="color: red;">Red</a>
                            <a id="colorGreen" class="dropdown-item" href="javascript:void(0);" style="color: green;">Green</a>
                            <a id="colorOrange" class="dropdown-item" href="javascript:void(0);" style="color: orange;">Orange</a>
                            <a id="colorGray" class="dropdown-item" href="javascript:void(0);" style="color: gray;">Gray</a>
                            <a id="colorBlue" class="dropdown-item" href="javascript:void(0);" style="color: blue;">Blue</a>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="sizeGroup" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        plain
                        </button>
                        <div class="dropdown-menu" aria-labelledby="sizeGroup">
                            <a id="h1" class="dropdown-item" href="javascript:void(0);"><h1>Heading 1</h1></a>
                            <a id="h2" class="dropdown-item" href="javascript:void(0);"><h2>Heading 2</h2></a>
                            <a id="h3" class="dropdown-item" href="javascript:void(0);"><h3>Heading 3</h3></a>
                            <a id="h4" class="dropdown-item" href="javascript:void(0);"><h4>Heading 4</h4></a>
                            <a id="h5" class="dropdown-item" href="javascript:void(0);"><h5>Heading 5</h5></a>
                            <a id="h6" class="dropdown-item" href="javascript:void(0);"><h6>Heading 6</h6></a>
                            <a id="pl" class="dropdown-item" href="javascript:void(0);"><p>Plain</p></a>
                        </div>
                    </div>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <button id="addImageBtn" type="button" class="btn btn-light">Add Images</button>
                </div>
                <input id="addImage" type="file" style="display: none;">
            </div>
            <iframe id="details"></iframe>
            <!--<textarea id="details" name="details" rows="10" cols="80" class="form-control" placeholder="Tap your tab here!">{{details}}</textarea>-->
            </div>
            </div>
        </div>
        <button id="tabSubmit" type="submit" data-toggle="modal" data-target="#modifytabDia" class="btn btn-primary" disabled="true">Submit</button>
        </div>
    </form>
</div>

<div class="modal fade" id="modifytabDia" tabindex="-1" role="dialog" aria-labelledby="modifytabDiaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" id="modifytabDiaHeader">
                <h5 class="modal-title" id="modifytabDiaTitle">Modify Tab</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modifytabDiaBody">
                Do you want to continue?
            </div>
            <div class="modal-footer" id="modifytabDiaFooter">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="nomodify" >No</button>
                <button type="button" class="btn btn-primary" id="yesmodify" >Yes</button>
            </div>
        </div>
    </div>
</div> 

<script src="/public/js/filesizelimit.js"></script>
<script>
    var nameEmpty = false;
    var boothIdEmpty = false;
    var artistEmpty = false;
    var contentEmpty = false;
    $('#newTabs').submit(function(){
        window.event.preventDefault();
        $(this).find(':button[type=submit]').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...');
        $(this).find(':button[type=submit]').prop('disabled', true);
    });
    bootstrapValidate('#showName', 'required: This can not be empty!', function(isEmpty) {
        if(isEmpty == true) {
            nameEmpty = true; 
            if(nameEmpty && boothIdEmpty)
                $("#tabSubmit").attr('disabled', false);
            else
                $("#tabSubmit").attr('disabled', true);
        } 
        else 
        if(isEmpty == 0) {
            nameEmpty = false;
            $("#tabSubmit").attr('disabled', true);
        }
    });
    bootstrapValidate('#boothId', 'required: This can not be empty!', function(isEmpty) {
        if(isEmpty == true) {
            boothIdEmpty = true; 
            if(nameEmpty && boothIdEmpty)
                $("#tabSubmit").attr('disabled', false);
            else
                $("#tabSubmit").attr('disabled', true);
        } 
        else 
        if(isEmpty == 0) {
            boothIdEmpty = false;
            $("#tabSubmit").attr('disabled', true);
        }
    });
    /*bootstrapValidate('#artistName', 'required: This can not be empty!', function(isEmpty) {
        if(isEmpty == true) {
            artistEmpty = true; 
            if(nameEmpty && songEmpty && artistEmpty && contentEmpty)
                $("#tabSubmit").attr('disabled', false);
            else
                $("#tabSubmit").attr('disabled', true);
        } 
        else 
        if(isEmpty == 0) {
            artistEmpty = false;
            $("#tabSubmit").attr('disabled', true);
        }
    });
    bootstrapValidate('#details', 'required: This can not be empty!', function(isEmpty) {
        if(isEmpty == true) {
            contentEmpty = true; 
            if(nameEmpty && contentEmpty)
                $("#tabSubmit").attr('disabled', false);
            else
                $("#tabSubmit").attr('disabled', true);
        } 
        else 
        if(isEmpty == 0) {
            contentEmpty = false;
            $("#tabSubmit").attr('disabled', true);
        }
    });*/
    $("#furBtn").click(function() {
        if($("#Furniture").is(":checked")) {
            $("#furNumDiv").show();
        }
        else {
            $("#furNumDiv").hide();
        }
    });
    $("#graBtn").click(function() {
        if($("#Graphic").is(":checked")) {
            $("#graNumDiv").show();
        }
        else {
            $("#graNumDiv").hide();
        }
    });
    $("#carBtn").click(function() {
        if($("#Carpet").is(":checked")) {
            $("#carNumDiv").show();
        }
        else {
            $("#carNumDiv").hide();
        }
    });
    $("#hanBtn").click(function() {
        if($("#HangingSign").is(":checked")) {
            $("#hanNumDiv").show();
        }
        else {
            $("#hanNumDiv").hide();
        }
    });
    $("#ligBtn").click(function() {
        if($("#Lighting").is(":checked")) {
            $("#ligNumDiv").show();
        }
        else {
            $("#ligNumDiv").hide();
        }
    });
    $("#avBtn").click(function() {
        if($("#AV").is(":checked")) {
            $("#avNumDiv").show();
        }
        else {
            $("#avNumDiv").hide();
        }
    });
    $("#eleBtn").click(function() {
        if($("#Electric").is(":checked")) {
            $("#eleNumDiv").show();
        }
        else {
            $("#eleNumDiv").hide();
        }
    });
    $(document).ready(function(){
        //if(op == "upload") {
        nameEmpty = false;
        boothIdEmpty = false;
        $d = $("#details")[0].contentWindow.document;
        $d.designMode = "on";
        $d.contentEditable = true;
        $d.open();
        $d.close();
        function exe(name, args = null) {
            $d.execCommand(name, false, args);
        }

        $("#furNumDiv").hide();
        $("#graNumDiv").hide();
        $("#carNumDiv").hide();
        $("#hanNumDiv").hide();
        $("#ligNumDiv").hide();
        $("#avNumDiv").hide();
        $("#eleNumDiv").hide();


        $("#details").bind('keypress', function(e) {
            if(e.keyCode == 13) {
                exe('formatBlock', '<p>');
            }
        })
        $("#boldText").click(function() {
            exe('bold');
        });
        $("#italicText").click(function() {
            exe('italic');
        });
        $("#colorBlack").click(function(e) {
            e.preventDefault();
            exe('foreColor', 'black');
            $("#colorsGroup").html($(this).html());
        });
        $("#colorRed").click(function(e) {
            e.preventDefault();
            exe('foreColor', 'red');
            $("#colorsGroup").html($(this).html());
        });
        $("#colorGreen").click(function(e) {
            e.preventDefault();
            exe('foreColor', 'green');
            $("#colorsGroup").html($(this).html());
        });
        $("#colorOrange").click(function(e) {
            e.preventDefault();
            exe('foreColor', 'orange');
            $("#colorsGroup").html($(this).html());
        });
        $("#colorGray").click(function(e) {
            e.preventDefault();
            exe('foreColor', 'gray');
            $("#colorsGroup").html($(this).html());
        });
        $("#colorBlue").click(function(e) {
            e.preventDefault();
            exe('foreColor', 'blue');
            $("#colorsGroup").html($(this).html());
        });
        $("#h1").click(function(e) {
            e.preventDefault();
            exe('formatBlock', '<h1>');
            $("#sizeGroup").html($(this).text());
        });
        $("#h2").click(function(e) {
            e.preventDefault();
            exe('formatBlock', '<h2>');
            $("#sizeGroup").html($(this).text());
        });
        $("#h3").click(function(e) {
            e.preventDefault();
            exe('formatBlock', '<h3>');
            $("#sizeGroup").html($(this).text());
        });
        $("#h4").click(function(e) {
            e.preventDefault();
            exe('formatBlock', '<h4>');
            $("#sizeGroup").html($(this).text());
        });
        $("#h5").click(function(e) {
            e.preventDefault();
            exe('formatBlock', '<h5>');
            $("#sizeGroup").html($(this).text());
        });
        $("#h6").click(function(e) {
            e.preventDefault();
            exe('formatBlock', '<h6>');
            $("#sizeGroup").html($(this).text());
        });
        $("#pl").click(function(e) {
            e.preventDefault();
            exe('formatBlock', '<p>');
            $("#sizeGroup").html($(this).text());
        });
        $("#preview").click(function() {
            alert($("#details").contents().find("body").html());
        });
        $("#addImageBtn").click(function() {
            $("#addImage").click();
        });
        $("#addImage").change(function() {
            var file = this.files[0];
            var formData = new FormData();
            formData.append('img', file);
            $.ajax({
                type: "post",
                url: "/exhibitor/imageUpload",
                dataType: "json",
                data: formData,
                contentType: false,
                processData: false,
                success: function(res) {
                    var des = res["des"];
                    exe('insertImage', des);
                    $("#details").contents().find("body").html($("#details").contents().find("body").html().replace(/<img src/g, "<img style='max-width:100%;' src"));
                },
                error: function(err) {
                    location.href("/");
                }
            });
        });
        /*}
        else {
            nameEmpty = true;
            contentEmpty = true;
            $("#tabSubmit").attr('disabled', false);
        }*/
    });
    $("#nomodify").click(function() {
        $('#tabSubmit').html('Submit');
        $('#tabSubmit').prop('disabled', false);
    });
    $("#yesmodify").click(function(e) {
        e.preventDefault();
        $("#yesmodify").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...');
        $('#yesmodify').prop('disabled', true);
        //var formData = new FormData();
        var category = [];
        var size1 = [];

        if($("#Furniture").is(":checked")) {
            var obj = {"name": "Furniture","num": $("#furNum").val() == "" ? 0 : parseInt($("#furNum").val())};
            var obj1 = JSON.stringify(obj);
            category.push(obj1);
        }
        if($("#Graphic").is(":checked")) {
            var obj = {"name": "Graphic", "num": $("#graNum").val() == "" ? 0 : parseInt($("#graNum").val())};
            var obj1 = JSON.stringify(obj);
            category.push(obj1);
        }
        if($("#Carpet").is(":checked")) {
            var obj = {"name": "Carpet", "num": $("#carNum").val() == "" ? 0 : parseInt($("#carNum").val())};
            var obj1 = JSON.stringify(obj);
            category.push(obj1);
        }
        if($("#HangingSign").is(":checked")) {
            var obj = {"name": "Hanging Sign", "num": $("#hanNum").val() == "" ? 0 : parseInt($("#hanNum").val())};
            var obj1 = JSON.stringify(obj);
            category.push(obj1);
        }
        if($("#Lighting").is(":checked")) {
            var obj = {"name": "Lighting", "num": $("#ligNum").val() == "" ? 0 : parseInt($("#ligNum").val())};
            var obj1 = JSON.stringify(obj);
            category.push(obj1);
        }
        if($("#AV").is(":checked")) {
            var obj = {"name": "AV", "num": $("#avNum").val() == "" ? 0 : parseInt($("#avNum").val())};
            var obj1 = JSON.stringify(obj);
            category.push(obj1);
        }
        if($("#Electric").is(":checked")) {
            var obj = {"name": "Electric", "num": $("#eleNum").val() == "" ? 0 : parseInt($("#eleNum").val())};
            var obj1 = JSON.stringify(obj);
            category.push(obj1);
        }
        size1.push($("#size1").val());
        size1.push($("#size2").val());
        var size = "";
        size = size1.join(",");
        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        var date1 = {"start": startDate, "end": endDate};
        var date = JSON.stringify(date1);
        /*formData.append('showName', $("#showName").val());
        formData.append('boothId', $("#boothId").val());
        formData.append('date', $("#date").val());
        formData.append('author', $("#author").attr('data-name'));
        formData.append('category', category);
        formData.append('details', $("#details").val());
        formData.append('size', size);*/
        $("#details").contents().find("body").html($("#details").contents().find("body").html().replace(/<img src/g, "<img style='max-width:100%;' src"));
        const details = $("#details").contents().find("body").html();
        //console.log(details);
        const formData = {
            boothId: $("#boothId").val(),
            showName: $("#showName").val(),
            date: date,
            author: $("#author").attr('data-name'),
            size: size,
            category: category,
            details: details
        }

        $.ajax({
            type: "post",
            url: "/exhibitor/newjob/",
            dataType: "json",
            data: formData,
            traditional: true,
            success: function(res) {
                //if(id == "") {
                if(res["success"] == "success") {
                    $("#modifytabDiaFooter").hide();
                    $("#modifytabDiaBody").html('<div class="container"><p>Create This Job Successfully!</p></br><span id="totalSecond">1</span><span id="second"> Seconds</span><span id="nextcontent"> later to go back to the job page!</span></div>');
                    jQuery.getScript("/public/js/autourl.js").done(function(){
                        var fun = auto;
                        //fun("/exhibitor/show?id=" + res["id"]);
                        fun("/")
                    });
                }
                else {
                    $("#modifytabDiaFooter").hide();
                    $("#modifytabDiaBody").html('<div class="container"><p>Job exists! Create failed!</p></br><span id="totalSecond">1</span><span id="second"> Seconds</span><span id="nextcontent"> later to go back to the job page!</span></div>');
                    jQuery.getScript("/public/js/autourl.js").done(function(){
                        var fun = auto;
                        //fun("/exhibitor/show?id=" + res["id"]);
                        fun("/")
                    });
                }
                /*}
                else {
                    $("#modifytabDiaFooter").hide();
                    $("#modifytabDiaBody").html('<div class="container"><p>Modify This Job Successfully!</p></br><span id="totalSecond">5</span><span id="second"> Seconds</span><span id="nextcontent"> later to go back to the job page!</span></div>');
                    jQuery.getScript("/public/js/autourl.js").done(function(){
                        var fun = auto;
                        fun("/exhibitor/show?id=" + res["id"]);
                    });
                }*/
            },
            error: function(err) {
                /*if(err["id"] != null) {
                    $("#modifytabDiaFooter").hide();
                    $("#modifytabDiaBody").html('<div class="container"><p>Modify job failed!</p></br><span id="totalSecond">5</span><span id="second"> Seconds</span><span id="nextcontent"> later to go back to the job page!</span></div>');
                    jQuery.getScript("/public/js/autourl.js").done(function(){
                        var fun = auto;
                        fun("/exhibitor/show?id=" + err["id"]);
                    });
                }
                else {*/
                    $("#modifytabDiaFooter").hide();
                    $("#modifytabDiaBody").html('<div class="container"><p>Create job failed!</p></br><span id="totalSecond">5</span><span id="second"> Seconds</span><span id="nextcontent"> later to go back homepage!</span></div>');
                    jQuery.getScript("/public/js/autourl.js").done(function(){
                        var fun = auto;
                        fun("/");
                    });
                //}
            }
        });
    });
</script>