<link rel="stylesheet" href="/public/css/exhibitorShow.css">
<div class="container col-8" id="exhibitorShowPage" style="padding-top: 50px;">
    
    <div class="card">
        {{#each data}}
        <img class="card-img-top" id="topImage" src="/public/image/page/showpageimage.jpg" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3 projectDetails">
                    <div id="boothId" data-name="{{showName}}"></div>
                    <div class="mb-5">
                    <h2 class="card-title">Show Name - <span>{{showName}}</span></h2>
                    <p class="card-text"><span>Start Date - </span>{{date.start}}&nbsp;&nbsp;&nbsp;<span id="endDate+{{date.end}}">End Date - </span>{{date.end}}</p>
                    </div>
                    <div>
                    <h4 class="mb-3">Project Details</h4>
                    <h6 class="mb-3">Categories</h6>
                    <p>Carpet:&nbsp;{{category.carpet.name}} - 
                        {{#if category.carpet.otherColor}}
                        {{category.carpet.otherColor}}
                        {{else}}
                        <span class="d-inline-block colorTooltip" tabindex="0" data-toggle="tooltip" title="{{category.carpet.color}}"><a target="_blank" href="/public/image/CarpetColor/{{category.carpet.color}}.jpg"><img src="/public/image/CarpetColor/{{category.carpet.color}}.jpg" width="40px" height="40px"></a></span>
                        {{/if}}
                    </p>
                    <p>Wall Panel:&nbsp;
                        {{category.panel.name}} - {{category.panel.details}}
                    </p>
                    {{#each category.lighting.details}}
                        <p>Lighting:&nbsp;
                        <span class="d-inline-block lightingTooltip" tabindex="0" data-toggle="tooltip" title="{{name}}"><a target="_blank" href="/public/image/Lighting/{{name}}.jpg"><img src="/public/image/Lighting/{{name}}.jpg" width="40px" height="40px"></a></span> - {{num}}&nbsp;{{unit}}
                        </p>
                    {{/each}}
                    {{#if category.lighting.other.name}}
                        <p>Lighting:&nbsp;
                        {{category.lighting.other.name}} - {{category.lighting.other.num}}&nbsp;{{category.lighting.other.unit}}
                        </p>
                    {{/if}}
                    {{#if category.electricity.nonupload}}
                    {{else}}
                    <p>Electricity:&nbsp;<a target="_blank" href="/public/image/exhibitor/electricity/{{category.electricity.filename}}"><img src="/public/image/exhibitor/electricity/{{category.electricity.filename}}" width="100px" height="70px"></a></p>
                    {{/if}}
                    {{#each category.graphic.details}}
                        <p>Graphic:&nbsp;
                        {{name}} - {{num}}&nbsp;{{unit}}
                        </p>
                    {{/each}}
                    {{#if category.graphic.other.name}}
                        <p>Graphic:&nbsp;
                        {{category.graphic.other.name}} - {{category.graphic.other.num}}&nbsp;{{category.graphic.other.unit}}
                        </p>
                    {{/if}}
                    {{#each category.display.details}}
                        <p>Display:&nbsp;
                        {{name}} - {{num}}&nbsp;{{unit}}
                        </p>
                    {{/each}}
                    {{#if category.display.other.name}}
                        <p>Display:&nbsp;
                        {{category.display.other.name}} - {{category.display.other.num}}&nbsp;{{category.display.other.unit}}
                        </p>
                    {{/if}}
                    {{#each category.furniture.details}}
                        <p>Furniture:&nbsp;
                        {{category}} - <span class="d-inline-block furnitureTooltip" tabindex="0" data-toggle="tooltip" title="{{name}}"><a target="_blank" href="/public/image/Furniture/{{name}}.jpg"><img src="/public/image/Furniture/{{name}}.jpg" width="40px" height="40px"></a></span> - {{num}}&nbsp;{{unit}}
                        </p>
                    {{/each}}
                    {{#if category.furniture.other.name}}
                        <p>Furniture:&nbsp;
                        {{category.furniture.other.name}} - {{category.furniture.other.num}}&nbsp;{{category.furniture.other.unit}}
                        </p>
                    {{/if}}
                    {{#each category.accessories.details}}
                        <p>Accessories:&nbsp;
                        {{name}}
                        </p>
                    {{/each}}
                    {{#if category.accessories.other.name}}
                        <p>Accessories:&nbsp;
                        {{category.accessories.other.name}}
                        </p>
                    {{/if}}
                    {{#each category.showsite.details}}
                        <p>Show Site:&nbsp;
                        {{name}}
                        </p>
                    {{/each}}
                    {{#if category.showsite.other.name}}
                        <p>Show Site:&nbsp;
                        {{category.showsite.other.name}}
                        </p>
                    {{/if}}
                    <h6 class="mb-3">Description</h6>
                    {{#each details.designFile.filename}}
                    <p><a target="_blank" href="/public/image/exhibitor/designPlan/{{name}}">{{fileName}}</a></p>
                    {{/each}}
                    <div id="detailsShow" class="card-text mb-3">{{details.additionalInfo.details}}</div>
                    <div class="next-step">
                    
                    </div>
                    </div>
                </div>
        <!--</div>

        <div class="card-body col-md-4 mb-3">-->
                <div class="col-md-6 mb-3">
                <div id="exhiProgressColumn" class="offset-md-4 mb-5">
                    <div class="mb-4 border-0" id="exhiProgressBar">
                        <p id="statusText"></p>
                        <div class="progress" data-name="{{progress}}">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                aria-valuemax="100">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <h5 class="card-title">Price</h5>
                    <table id="priceTable" class="table table-hover">
                        <thead>
                            <tr>
                                <!--<th scope="col"></th>-->
                                <th scope="col">Vendor Name</th>
                                <th scope="col">Estimate Price</th>
                                <th scope="col">Operation</th>
                            </tr>
                        </thead>
                        <tbody class="table table-hover table-borderless">
                            {{#each ../price}}
                            <tr>
                                <!--<td><img src="/public/image/vendor/{{Avatar}}" style="height: 30px; width: 30px;"></td>-->
                                <td class="align-middle" scope="row" id={{vendorId}}><a href="/info?name={{vendorName}}">{{vendorCompany}}</a></td>
                                <td class="align-middle">
                                    <a target="_blank" href="/exhibitor/estimate?id={{../showName}}&vendor={{vendorId}}">{{price.total}}</a>
                                    <!--<a href="#acc{{vendorId}}" data-toggle="collapse" aria-expanded="false" aria-controls="acc{{vendorId}}">{{price.total}}</a>-->
                                </td>
                                <td class="align-middle">
                                    <button id={{vendorId}} class="btn btn-light">Confirm</button>
                                </td>
                            </tr>
                            <!--<tr>
                                <td colspan="3">
                                    <div id="acc{{vendorId}}" class="collapse">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h6>Category</h6>
                                            </div>
                                            <div class="col-md-4">
                                                <h6>Quantity✕Each Price</h6>
                                            </div>
                                            <div class="col-md-2">
                                                <h6>Price</h6>
                                            </div>
                                        </div>
                                        {{#each price.each}}
                                        {{#if unit}}
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{name}}
                                            </div>
                                            <div class="col-md-4">
                                                {{num}}&nbsp;{{unit}}&nbsp;✕&nbsp;{{eachPrice}}
                                            </div>
                                            <div class="col-md-2">
                                                {{price}}
                                            </div>
                                        </div>
                                        {{else}}
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{name}}
                                            </div>
                                            <div class="col-md-4">
                                                
                                            </div>
                                            <div class="col-md-2">
                                                {{price}}
                                            </div>
                                        </div>
                                        {{/if}}
                                        {{/each}}
                                    </div>
                                </td>
                            </tr>-->



                            {{/each}}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>


        {{/each}}
    </div>

</div>


{{!-- Archive --}}{{!-- Archive --}}{{!-- Archive --}}{{!-- Archive --}}
{{!-- Archive --}}{{!-- Archive --}}{{!-- Archive --}}{{!-- Archive --}}{{!-- Archive --}}

<!--
<div class="container" id="exhibitorShowPage">
    <div class="row" id="exhiRow">
        {{#each data}}

        <div id="exhiColumn">
            <div class="card mb-4 border-0">

                
                <div id="boothId" data-name={{boothNum}}></div>
                <h1 class="display-3">Show Name: {{showName}}</h1>
                <h3 class="card-title">Category: {{category}}</h3>
                

                <div class="container" id="detailCard">
                    <h4>Project Details</h4>
                    <div id="detailsShow" class="container card-text">
                        <p>{{details}}</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="column" id="exhiProgressColumn">
            <div class="card mb-4 border-0" id="exhiProgressBar">
                <h5 class="card-title">{{progress}}</h5>
                <div class="progress" data-name="{{progress}}">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                        aria-valuemax="100">
                    </div>
                </div>
              
            </div>

        </div>



        {{/each}}
    </div>

</div>




<div class="container" id="exhibitorShowPage">
    <h2>Price</h2>
    <table id="priceTable" class="table table-hover">
        <thead>
            <tr>
                
                <th scope="col">Vendor Name</th>
                <th scope="col">Estimate Price</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody class="table table-hover table-borderless">
            {{#each price}}
            <tr>
                
                <td scope="row" id={{vendorId}}>{{vendorName}}</td>
                <td>{{price}}</td>
                <td>
                    <button id={{vendorId}} class="btn btn-light">Confirm</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="container">
    <div class="next-step">

    </div>
</div>
-->
{{!-- Archive-end --}}{{!-- Archive-end --}}{{!-- Archive-end --}}{{!-- Archive-end --}}{{!-- Archive-end --}}{{!-- Archive-end --}}
{{!-- Archive-end --}}{{!-- Archive-end --}}{{!-- Archive-end --}}{{!-- Archive-end --}}{{!-- Archive-end --}}
{{!-- Archive-end --}}{{!-- Archive-end --}}{{!-- Archive-end --}}












<script src="../../../public/js/transferImage.js"></script>
<script>
    $(document).ready(function () {
        $(".colorTooltip").each(function() {
            var str1 = $(this).attr("title");
            str1 = str1.replace("_", " ");
            $(this).attr("title", str1);
        });
        $(".lightingTooltip").each(function() {
            var str1 = $(this).find("a").attr("href");
            str1 = str1.toString().replace(/\s+/g, "_");
            $(this).find("a").attr("href", str1);
            var str2 = $(this).find("img").attr("src");
            str2 = str2.replace(/\s+/g, "_");
            $(this).find("img").attr("src", str1);
        });
        $(".furnitureTooltip").each(function() {
            var str1 = $(this).find("a").attr("href");
            str1 = str1.replace(/\s+/g, "_");
            $(this).find("a").attr("href", str1);
            var str2 = $(this).find("img").attr("src");
            str2 = str2.replace(/\s+/g, "_");
            $(this).find("img").attr("src", str1);
        });
        $("#priceTable").find(".collapse").each(function() {
            var data = $(this).html();
            data = data.replace(/&lt;/g, "<");
            data = data.replace(/&gt;/g, ">");
            data = data.replace(/&#x3D;/g, "=");
            data = data.replace(/&quot;/g, '"');
            data = data.replace("<script>", "&lt;script&gt;");
            data = data.replace("<style>", "&lt;style&gt;");
            data = data.replace(/<img src/g, "<img style='max-width:100%;' src");
            data = data.replace("&amp;nbsp;", " ");
            $(this).html(data);
        });
        if ($("div.progress").attr("data-name") != "bidding") {
            if ($("div.progress").attr("data-name") == "waitContract") {
                $(".progress-bar").attr("style", "width: 20%");
                $(".progress-bar").attr("aria-valuenow", "20");
                $("#statusText").text("Wait Contract: 20% completed");
                $("#priceTable tbody tr td:eq(2)").html("Confirmed");
                $(".next-step").html('<button class="btn btn-light" id="contractConfirm">Contract</button>');
                $("#contractConfirm").click(function () {
                    $(location).attr("href", "/exhibitor/contract?id=" + $("#boothId").attr("data-name"));
                });
            }
            else
                if ($("div.progress").attr("data-name") == "waitOppoContract") {
                    $(".progress-bar").attr("style", "width: 40%");
                    $(".progress-bar").attr("aria-valuenow", "40");
                    $("#statusText").text("Wait Vendor Signing The Contract: 40% completed");
                    $("#priceTable tbody tr td:eq(2)").html("Confirmed");
                }
                else
                    if ($("div.progress").attr("data-name") == "waitPayment") {
                        $(".progress-bar").attr("style", "width: 60%");
                        $(".progress-bar").attr("aria-valuenow", "60");
                        $("#statusText").text("Wait Pay: 60% completed");
                        $("#priceTable tbody tr td:eq(2)").html("Confirmed");
                        $(".next-step").html('<button class="btn btn-light" id="paymentBtn">Payment</button>');
                        $("#paymentBtn").click(function () {
                            $(location).attr("href", "/exhibitor/payment?id=" + $("#boothId").attr("data-name"));
                        });
                    }
                    else
                        if ($("div.progress").attr("data-name") == "paid") {
                            $(".progress-bar").attr("style", "width: 80%");
                            $(".progress-bar").attr("aria-valuenow", "80");
                            $("#statusText").text("Paid, Wait For Administrator's Checking: 80% completed");
                            $("#priceTable tbody tr td:eq(2)").html("Confirmed");
                        }
                        else
                        if ($("div.progress").attr("data-name") == "paychecked") {
                            $(".progress-bar").attr("style", "width: 90%");
                            $(".progress-bar").attr("aria-valuenow", "90");
                            $("#statusText").text("Paid, Wait For Vendor's Confirmation: 90% completed");
                        }
                        else
                        if ($("div.progress").attr("data-name") == "Complaint") {
                            $(".progress-bar").attr("style", "width: 0%");
                            $(".progress-bar").attr("aria-valuenow", "0");
                            $("#statusText").text("Wait for Service Accepting Your Requests: 0% completed");
                        }
                        else
                        if ($("div.progress").attr("data-name") == "Complaint Processing") {
                            $(".progress-bar").attr("style", "width: 50%");
                            $(".progress-bar").attr("aria-valuenow", "50");
                            $("#statusText").text("Your Requests Are In Processing: 50% completed");
                        }
                        else
                        if ($("div.progress").attr("data-name") == "Complaint Solved") {
                            $(".progress-bar").attr("style", "width: 100%");
                            $(".progress-bar").attr("aria-valuenow", "100");
                            $("#statusText").text("Your Requests Are Solved: 100% completed");
                        }
                        else
                            if ($("div.progress").attr("data-name") == "done") {
                                $(".progress-bar").attr("style", "width: 100%");
                                $(".progress-bar").attr("aria-valuenow", "100");
                                $("#statusText").text("Job Done!: 100% completed");
                                $("#priceTable tbody tr td:eq(2)").html("Confirmed");
                            }
                            else {
                                $("#priceTable tbody tr td:eq(2)").html("Confirmed");
                            }
        }
        else {
            $("#statusText").text("Bidding: 0% completed");
        }
        var date1 = new Date($("span[id^='endDate+']").attr("id"));
        var date2 = new Date();
        var yy = date2.getFullYear();
        var mm = date2.getMonth() + 1;
        var dd = date2.getDate();
        var ddd2 = yy + "-" + mm + "-" + dd;
        var date3 = new Date(ddd2);
        if(date1 < date3) {
            $("button").prop("disabled", true);
        }
        $("#priceTable tbody button").each(function () {
            $(this).bind("click", function () {
                var showname = $("#boothId").attr("data-name");
                var vid = $(this).attr("id");
                $.ajax({
                    type: "post",
                    url: "/exhibitor/jobConfirm",
                    dataType: "json",
                    data: {
                        showName: showname,
                        vendorId: vid
                    },
                    success: function (res) {
                        var vendor = res["vendor"];
                        var exhibitor = res["exhibitor"];
                        var showName = res["showName"];
                        var origin = window.location.hostname;
                        var ws = new WebSocket('ws://' + origin + ':8080');
                        var message = showName + "'s progress is updated! Refresh this page to check you progress!||" + exhibitor + "||" + vendor;
                        ws.onopen = function (e) {
                            ws.send(message);
                        }
                        $(location).attr("href", "/exhibitor/show?id=" + showname);
                    },
                    error: function (err) {
                        $(location).attr("href", "error");
                    }
                });
            });
        });
    });
</script>