<link rel="stylesheet" href="/public/css/guitartabpage.css">
<div class="error">
    <p>{{error}}</p>
</div>
<div class="containPage">
    <div class="container" id="TabAll">
        <div id="operator">
            <button type="button" class="btn btn-outline-success" onclick="window.location.href = '/tabs/modifytabs/{{id}}';">Modify</button>
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#deleteDia">
                Delete
            </button>
            <div class="modal fade" id="deleteDia" tabindex="-1" role="dialog" aria-labelledby="deleteDiaTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteDiaTitle">Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Do you want to delete this tab?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-primary" onclick={{delete}}>Yes</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="currentTab">
            <div class="tabTitle">
                <h3><span id="tab">{{tab}}</span></h3>
                <h4><span id="song">Song name : {{song}}</span> by <span id="tabArtist">{{artist}}</span></h4>
                <span id="authorInfo">Posted by :<span id="tabAuthor">{{author}}</span></span>
            </div>
            <div class="guitarTabContent">
                <div class="line"></div>
                <span id="tabContent">{{content}}</span>
                <script language="javascript" src="/public/js/transferChord.js"></script>
                <script language="javascript" type="text/javascript">
                    $(document).ready(function () {
                        var fun = rePlace;
                        fun();
                        if(document.getElementById("uNameShow") == null || document.getElementById("uNameShow").innerText != document.getElementById("tabAuthor").innerText) {
                            document.getElementById("operator").innerHTML = "";
                        }
                    });
                </script>
                <script>
                    window.onload = function(){
                        $(function () {
                            $('[data-toggle="tooltip"]').tooltip()
                        })
                    }
                </script>
            </div>
        </div>
        <div class="rating">
            <span id="thumbsup"><a href="javascript:void(0);" onclick="var s=judge(1);like(s);"><img id="like" src="/public/image/like/{{thumbstatus}}"></a>{{thumbsup}}</span>
            <span id="thumbsdown"><a href="javascript:void(0);" onclick="var s=judge(2);thumbsdown(s);"><img id="dislike" src="/public/image/like/{{badstatus}}"></a>{{thumbsdown}}</span>
            <span id="likeByYou">{{likeByUser}}</span>
            <iframe name="iframeStyle" style="display:none;"></iframe>
        </div>
    </div>

    <div class="container" id="comments">
        <table class="table table-hover" id="commentsZone">
            <tbody class="table table-hover table-borderless">
                {{#each comments}}
                <tr>
                    <td scope="row">
                        <div class="media">
                            <img class="mr-3 rounded-circle" src="/public/image/portrait/{{portrait}}" width="40" height="40" alt="">
                            <div class="media-body" id={{commentAuthor}}>
                                <h5 class="mt-0">{{commentAuthor}}</h5>
                                {{comment}}
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="container" id="commentForm">
        <form method="POST" action="/comments">
            <input name="commentAuthor" type="hidden" value={{userName}}>
            <input name="tabId" type="hidden" value={{id}}>
            <label for="content">Write your comment:</label>
            <textarea name="content" rows="5" cols="80" class="form-control" ></textarea></br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>