<div class="container" style="padding-top: 50px;">
    <nav class="nav nav-tabs">
        <a class="nav-item nav-link active disabled" href="/aftersale/requests/index">Request</a>
        <a class="nav-item nav-link" href="/aftersale/proof/index">Proof</a>
    </nav>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Exhibitor Name</th>
                <th scope="col">Vendor Name</th>
                <th scope="col">Booth Number</th>
                <th scope="col">Exhibitor Progress</th>
                <th scope="col">Vendor Progress</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td class="align-middle ename" scope="col">
                    {{exhibitorName}}
                </td>
                <td class="align-middle vname" scope="col">
                    {{vendorName}}
                </td>
                <td class="align-middle" scope="col">{{showName}}</td>
                <td class="align-middle" scope="col">
                    {{eprogress}}
                </td>
                <td class="align-middle" scope="col">
                    {{vprogress}}
                </td>
                <td class="align-middle" scope="col">
                    <button class="btn btn-light gotodetailsBtn">Details</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script>
    $(".gotodetailsBtn").each(function() {
        $(this).click(function() {
            var showName = $(this).parent().parent().find("td:eq(2)").html();
            $(location).attr("href", "/aftersale/requests/show?id=" + showName);
        })
    })
</script>