<div class="container" id="modifyInfoDiv">
    <p id="error">{{error}}</p>
    <form method="POST" action="/modifyInfo" id="modifyInfo" enctype="multipart/form-data">
        <div class="form-group">
            <label for="portrait">Your Head Portrait:</label>
            <input type="file" class="form-control-file" id="portrait" name="portrait" accept="image/*" required>
        </div>
        <label for="userName">User Name:</label>
        <input id="user" class="form-control" type="text" name="userName" value={{user}} disabled></br>
        <label for="password">Password:</label>
        <input id="password" class="form-control" type="password" name="password" required></br>
        <label for="firstName">First Name:</label>
        <input id="first" class="form-control" type="text" name="firstName" value={{first}} required></br>
        <label for="lastName">Last Name:</label>
        <input id="last" class="form-control" type="text" name="lastName" value={{last}} required></br>
        <label for="email">Email:</label>
        <input id="email" class="form-control" type="email" name="email" value={{email}} required></br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>