<h4></h4>
<div class="container" id="modifyInfoDiv">
    <div class="col-6 offset-3">
    <p id="error">{{error}}</p>
    <form id="modifyInfoForm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="modifyPortrait">Your Head Portrait...</label>
            <input type="file" class="form-control-file" id="modifyPortrait" name="portrait" accept="image/*" required>
            <p id="fileRestrict" style="color:red;">You should upload your portrait</p>
        </div>
        <div class="form-group">
            <label for="modifyUser">User Name:</label>
            <input id="modifyUser" class="form-control" type="text" name="userName" value={{user}} disabled></br>
        </div>
        <div class="form-group">
            <label for="modifyPassword">Password:</label>
            <input id="modifyPassword" class="form-control" type="password" name="password" required></br>
        </div>
        <div class="form-group">
            <label for="modifyConPassword">Confirm Password:</label>
            <input id="modifyConPassword" type="password" name="conPassword" class="form-control" placeholder="Confirm" required>
        </div>
        <div class="form-group">
            <label for="modifyFirst">First Name:</label>
            <input id="modifyFirst" class="form-control" type="text" name="firstName" value={{first}} required></br>
        </div>
        <div class="form-group">
            <label for="modifyLast">Last Name:</label>
            <input id="modifyLast" class="form-control" type="text" name="lastName" value={{last}} required></br>
        </div>
        <div class="form-group">
            <label for="modifyEmail">Email:</label>
            <input id="modifyEmail" class="form-control" type="email" name="email" value={{email}} required></br>
        </div>
        <button type="submit" id="modifySubmit" data-toggle="modal" data-target="#modifyinfoDia" class="btn btn-primary" disabled="true">Submit</button>
    </form>
    </div>
</div>

<div class="modal fade" id="modifyinfoDia" tabindex="-1" role="dialog" aria-labelledby="modifyinfoDiaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" id="modifyinfoDiaHeader">
                <h5 class="modal-title" id="modifyinfoDiaTitle">Modify Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modifyinfoDiaBody">
                Do you want to modify your information?
            </div>
            <div class="modal-footer" id="modifyinfoDiaFooter">
                <form></form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="yesmodify" >Yes</button>
            </div>
        </div>
    </div>
</div> 

<script src="/public/js/filesizelimit.js"></script>
<script type="text/javascript">
    var uploadhead = false;
    var empty = false;
    var emailValid = false;
    var passwordMin = false;
    var passwordMax = false;
    var conpassMatch = false;
    var file;
    $("#modifyPortrait").change(function() {
        file = this.files[0];
        var fun = checkSize;
        var sizeOk = fun(this);
        if($(this).val() !== '') {
            if(!sizeOk) { 
                $("#fileRestrict").text("The maximum file size is 2M. It's too large!");
                $("#fileRestrict").css('color', 'red');
                uploadhead = false;
            }
            else{
                $("#fileRestrict").text("");
                uploadhead = true;
            }
        }
        else {
            $("#fileRestrict").text("You should upload your portrait");
            $("#fileRestrict").css('color', 'red');
            uploadhead = false;
        }
        if(empty && emailValid && uploadhead && passwordMax && passwordMin && conpassMatch)
            $("#modifySubmit").attr('disabled', false);
        else
            $("#modifySubmit").attr('disabled', true);
    });
    $('#modifyInfoForm').submit(function(){
        window.event.preventDefault();
        $(this).find(':button[type=submit]').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...');
        $(this).find(':button[type=submit]').prop('disabled', true);
    });
    $(document).ready(function(){
        empty = false;
        emailValid = true;
        passwordMin = false;
        passwordMax = false;
        conpassMatch = false;
    }); 
    bootstrapValidate(['#modifyPassword', '#modifyConPassword', '#modifyFirst', '#modifyLast', '#modifyEmail'], 'required: This can not be empty!', function(isEmpty) {
        if(isEmpty == true) {
            empty = true; 
            if(empty && emailValid && uploadhead && passwordMax && passwordMin && conpassMatch)
                $("#modifySubmit").attr('disabled', false);
            else
                $("#modifySubmit").attr('disabled', true);
        } 
        else 
        if(isEmpty == 0) {
            empty = false;
            $("#modifySubmit").attr('disabled', true);
        }
    });
    bootstrapValidate('#modifyEmail', 'email: Enter a valid E-Mail!', function(isEmail) { if(isEmail) {emailValid = true; if(empty && emailValid && uploadhead && passwordMax && passwordMin && conpassMatch)
        $("#modifySubmit").attr('disabled', false); else
        $("#modifySubmit").attr('disabled', true); } else {emailValid = false; $("#modifySubmit").attr('disabled', "true");}});
    bootstrapValidate('#modifyPassword', 'min:6: Your password should more than 6 charactors!', function(isPassword) { if(isPassword) {passwordMin = true; if(empty && emailValid && uploadhead && passwordMax && passwordMin && conpassMatch)
        $("#modifySubmit").attr('disabled', false); else
        $("#modifySubmit").attr('disabled', true);} else {passwordMin = false; $("#modifySubmit").attr('disabled', "true");}});
    bootstrapValidate('#modifyPassword', 'max:20: Your password should no more than 20 charactors!', function(isPassword) { if(isPassword) {passwordMax = true; if(empty && emailValid && uploadhead && passwordMax && passwordMin && conpassMatch)
        $("#modifySubmit").attr('disabled', false); else
        $("#modifySubmit").attr('disabled', true);} else {passwordMax = false; $("#modifySubmit").attr('disabled', "true");}});
    bootstrapValidate('#modifyConPassword', 'matches: #modifyPassword: The password is not match!', function(isMatched) { if(isMatched) {conpassMatch = true; if(empty && emailValid && uploadhead && passwordMax && passwordMin && conpassMatch)
        $("#modifySubmit").attr('disabled', false); else
        $("#modifySubmit").attr('disabled', true);} else {conpassMatch = false; $("#modifySubmit").attr('disabled', "true");}});
    $("#yesmodify").click(function() {
        $("#yesmodify").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...');
        $('#yesmodify').prop('disabled', true);
        var formData = new FormData();
        formData.append('portrait', file);
        formData.append('username', $("#modifyUser").val());
        formData.append('password', $("#modifyPassword").val());
        formData.append('conPassword', $("#modifyConPassword").val());
        formData.append('firstName', $("#modifyFirst").val());
        formData.append('lastName', $("#modifyLast").val());
        formData.append('email', $("#modifyEmail").val());

        $.ajax({
            type: "post",
            url: "/modifyInfo",
            dataType: "json",
            data: formData,
            contentType: false,
            processData: false,
            success: function(res) {
                $("#modifyinfoDiaFooter").hide();
                $("#modifyinfoDiaBody").html('<div class="container"><p>Modify Successfully for user ' + res["user"] + '!</p></br><span id="totalSecond">5</span><span id="second"> Seconds</span><span id="nextcontent"> later to go back homepage!</span></div>');
                jQuery.getScript("/public/js/autourl.js").done(function(){
                    var fun = auto;
                    fun("/");
                })
            },
            error: function(err) {
                $("#modifyinfoDiaFooter").hide();
                $("#modifyinfoDiaBody").html('<div class="container"><p>Modify failed for user ' + err["user"] + '!</p></br><span id="totalSecond">5</span><span id="second"> Seconds</span><span id="nextcontent"> later to go back homepage!</span></div>');
                jQuery.getScript("/public/js/autourl.js").done(function(){
                    var fun = auto;
                    fun("/");
                })
            }
        });
    })
</script>