<div class="container">
    <div class="contractText mb-3 shadow" data-name="{{boothNum}}" data-link="{{voe}}">
        <div class="contractArea">
            <div id="print">
            <h5>Contract</h5>
            <p>das add a as fa xasad fas sadd fas fasfag afasdasa cawnu ab wqihy qhu bwjhwqb jfalha bjkagb jaas jashj abkjdaj.</p>
            <p>das add a as fa xasad fas sadd fas fasfag afasdasa cawnu ab wqihy qhu bwjhwqb jfalha bjkagb jaas jashj abkjdaj.</p>
            <p>das add a as fa xasad fas sadd fas fasfag afasdasa cawnu ab wqihy qhu bwjhwqb jfalha bjkagb jaas jashj abkjdaj.</p>
            <p>das add a as fa xasad fas sadd fas fasfag afasdasa cawnu ab wqihy qhu bwjhwqb jfalha bjkagb jaas jashj abkjdaj.</p>
            <p>Booth summary:</p>
            <ul>
                <li>
                    Exhibitor: {{data.exhibitor}};
                </li>
                <li>
                    Vendor: {{data.vendor}};
                </li>
                <li>
                    Show Name: {{data.showName}};
                </li>
                <li>
                    Size: {{data.size}};
                </li>
                <li>
                    Category: <br/>
                    {{#each data.price.each}}
                    <div class="row">
                        <div class="col-md-7">
                            {{Product_name}}
                        </div>
                        <div class="col-md-4">
                            {{Quantity}}&nbsp;{{Unit}}&nbsp;✕&nbsp;${{Price}}
                        </div>
                        <div class="col-md-1">
                            {{Total}}
                        </div>
                    </div>
                    {{/each}}
                </li>
                <li>
                    Total Price: {{data.price.total}}.
                </li>
                <li>
                    Details: <br/>{{data.details.additionalInfo.details}}
                </li>
            </ul>
            <p>fagadfa sa cxnza ior qnh hlan rhqen lkhlqj fsnak.</p>
            </div>
        </div>
    </div>
    <div class="contractOp mb-3">
        <form id="acceptContract">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="acceptBox" value="y">
                <label class="form-check-label" for="acceptBox">I will accept and obey this contract.</label>
            </div>
            <button class="btn btn-light" type="button" onclick="exportPDF();">Export PDF</button>
            <button class="btn btn-light" type="button" onclick="history.go(-1);">Back</button>
            <button class="btn btn-light" type="submit" disabled="true">Submit</button>
        </form>
    </div>
</div>
<script>
    function exportPDF() {
        var doc = new jsPDF({
            orientation: 'p',
            unit: 'pt',
            format: 'a2'
        });   

        doc.html(document.getElementById("print"), {
            callback: function(doc) {
                doc.save("contract.pdf");
            }
        });

        /*var title = $(".contractArea").find("h5").text();
        var content = "";
        $(".contractArea").find("p+li")*/
    }
    $("#print").find("li").each(function() {
        var data = $(this).html();
        data = data.replace(/&lt;/g, "<");
        data = data.replace(/&gt;/g, ">");
        data = data.replace(/&#x3D;/g, "=");
        data = data.replace(/&quot;/g, '"');
        data = data.replace("<script>", "&lt;script&gt;");
        data = data.replace("<style>", "&lt;style&gt;");
        data = data.replace(/<img src/g, "<img style='max-width:100%;' src");
        data = data.replace("&amp;nbsp;", " ");
        $(this).html(data);
    });
    $("#acceptContract").submit(function(e) {
        e.preventDefault();
        var accept = $("#acceptBox").val();
        var voe = $(".contractText").attr("data-link");
        var id = $(".contractText").attr("data-name");
        $.ajax({
            type: "post",
            url: "/" + voe + "/acceptContract",
            dataType: "json",
            data: {
                id: id,
                accept: accept
            },
            success: function(res) {
                var vendor = res["vendor"];
                var exhibitor = res["exhibitor"];
                var showName = res["showName"];
                var origin = window.location.hostname;
                var ws = new WebSocket('ws://' + origin + ':8080');
                var message = "";
                if(voe == "exhibitor")
                    message = showName + "'s progress is updated! Refresh this page to check you progress!||" + exhibitor + "||" + vendor;
                else
                    message = showName + "'s progress is updated! Refresh this page to check you progress!||" + vendor + "||" + exhibitor;
                ws.onopen = function(e) {
                    ws.send(message);
                }
                $(location).attr("href", "/" + voe + "/show?id=" + id);
            },
            error: function(err) {
                $(location).attr("href", "error");
            }
        });
    });
    $("#acceptBox").click(function() {
        if($(this).prop("checked")) {
            $("button[type=submit]").prop("disabled", false);
        }
        else {
            $("button[type=submit]").prop("disabled", true);
        }
    })
</script>