<p>{{error}}</p>


<div id="popular" class="container-fluid">
    <h3></h3>

    <!--<div class="container-fluid"
        style="width: 100%; height: 350px; background-image: url('/public/image/page/guyInJacket.jpg'); background-size: 100% 100%;">
        <link rel="stylesheet" type="text/css" href="../../public/css/indexPageStyle.css" />
        <div class="bottom-left">Bottom Left</div>
        <div class="top-left">Top Left</div>
        <div class="top-right">Top Right</div>
        <div class="bottom-right">Bottom Right</div>
        <div class="centered">Centered</div>
    </div>-->


    <div class="container-fluid">
        <link rel="stylesheet" type="text/css" href="../../public/css/indexPageStyle.css" />
        <img src="/public/image/page/guyInJacket.jpg" alt="guyInJacket" style="width:100%;">
        <div class="text-block">
            <h4>How it works:</h4>
            <p>Step1. Select Vendor Category</p>
            <p>Step2. Pick Options</p>
            <p>Step3. Contact and Pay</p>
        </div>
        <div class="text-block-bottom">
            <h6>About Us</h6>
        </div>
    </div>




    <h3></h3>
    <h4>Explore Vendors</h4>
    <table class="table table-hover" id="homePage">
        <thead>
            <tr>
                <th scope="col" id="headName">Vendor Name</th>
                <th scope="col" id="headAuthor">Location</th>
                <th scope="col" id="headArtist">Category</th>
            </tr>
        </thead>
        <tbody class="table table-hover table-borderless">
            {{#each data}}
            <tr>
                <td scope="row" id={{_id}}><a href="/tabs/?tabId={{_id}}">{{tabName}}</a></td>
                <td>{{author}}</td>
                <td>{{artistName}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>