<div class="container" id="searchDiv">
    <table class="table table-hover" id="searchPage">
        <thead>
            <tr>
            <th scope="col" id="headName">Tab Name</th>
            <th scope="col" id="headAuthor">Author</th>
            </tr>
        </thead>
        <tbody class="table table-hover table-borderless">
            {{#each data}}
            <tr>
                <td scope="row" id={{_id}}><a href="/tabs/?tabId={{_id}}">{{tabName}}</a></td>
                <td id={{author}}>{{author}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>